<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Superhéroes App</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!-- NAVBAR HARDCODEADA -->
    <header class="navbar <%= (typeof esLanding !== 'undefined' && esLanding) ? 'navbar-transparent' : 'navbar-solid' %>">
        <div class="nav-container">
            <div class="logo">
                <img src="/icons/logoIcon.svg" alt="Logo">
                <span>Superhéroes App</span>
            </div>

            <nav>
                <a href="/">Home</a>
                <a href="/heroes">Superhéroes</a>
                <a href="/acerca">Acerca</a>
                <a href="/contacto">Contacto</a>
            </nav>
        </div>
    </header>

    <!-- -->
    <% if (typeof esLanding === "undefined" || !esLanding) { %>
        <div class="container">
            <%- body %>
        </div>
    <% } else { %>
        <%- body %>
    <% } %>

    <footer class="main-footer">
        <div class="footer-container">

            <p>© 2026 Superhéroes App - Powered by Marcos Batallán</p>

            <div class="footer-links">
                <a href="/">Home</a>
                <a href="/heroes">Superhéroes</a>
                <a href="/acerca">Acerca</a>
                <a href="/contacto">Contacto</a>
            </div>

        </div>
    </footer>

</body>
</html>