<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Superhéroes App</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!-- NAVBAR HARDCODEADA -->
    <header class="navbar">
        <div class="nav-container">
            <h2 class="logo">🦸‍♂️ Superhéroes App</h2>

            <nav>
                <a href="/">Home</a>
                <a href="/heroes">Superhéroes</a>
                <a href="/about">Acerca</a>
                <a href="/contact">Contacto</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <%- body %>
    </div>

    <footer>
        <p>© 2026 - Superhéroes App</p>
    </footer>

</body>
</html>