
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

/*
@media (max-width: 768px) {
    .container {
    grid-template-columns: 1fr;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
*/
.container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
}

.card {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.actions {
    display: flex;
    gap: 15px; /* espacio entre botones */
    margin-top: 10px;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-add { background-color: #28a745; color: white; }
.btn-edit { background-color: #8ec5ff; color: white; }
.btn-delete { background-color: #f57582; color: white; }
.btn-save { background-color: #007bff; color: white; width: 100%; }
.btn-back { background-color: #6c757d; color: white; width: 100%; margin-top: 10px; }

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-footer {
    text-align: center;
    margin-top: 30px;
    color: gray;
    font-size: 14px;
}

/***** ESTILOS DE LA LANDING PAGE *****/
.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ), url("/images/background/imgLanding.png") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content {
    max-width: 700px;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-cta {
    background: #ff4757;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-cta:hover {
    background: #e84118;
    transform: scale(1.05);
}

/***** ESTILOS DE LA BARRA DE NAVEGACIÓN *****/
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    background: transparent;
    padding: 20px 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.5rem;
}

.navbar nav a {
    color: rgb(31, 30, 30);
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar nav a:hover {
    opacity: 0.7;
}