
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.page-content {
    padding-top: 80px;
}

@media (max-width: 768px) {
    .container {
        padding-top: 45px;
    }
}

.grid-heroes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .grid-heroes {
        grid-template-columns: 1fr;
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.icon-lista {
    height: 60px;
    vertical-align: middle;
    margin-right: 8px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-4px);
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: flex-end;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-add { background-color: #28a745; color: white; }
.btn-edit { background-color: #8ec5ff; color: white; }
.btn-delete { background-color: #f57582; color: white; }
.btn-save { background-color: #007bff; color: white; width: 100%; }
.btn-back { background-color: #6c757d; color: white; width: 100%; margin-top: 10px; }

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-footer {
    text-align: center;
    margin-top: 30px;
    color: gray;
    font-size: 14px;
}

/***** ESTILOS DE LA LANDING PAGE *****/
.hero {
    height: 100vh;
    width: 100%;

    background: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.85)
    ), url("/images/background/imgLanding.png") center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-content {
    max-width: 900px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 40px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-cta {
    background: #ff4757;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-cta:hover {
    background: #e84118;
    transform: scale(1.05);
}

.btn-icon {
    height: 36px;
    vertical-align: middle;
    margin-right: 8px;
}


/***** ESTILOS DE LA BARRA DE NAVEGACIÓN *****/
.navbar {
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 10;
    padding: 20px 0;
}

.nav-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-weight: 900;
}

.logo img {
    height: 40px;
}

.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    font-weight: 750;
    transition: 0.3s;
}

/* LANDING */
.navbar-transparent .logo,
.navbar-transparent nav a {
    color: white;
}

/* DASHBOARD */
.navbar-solid .logo,
.navbar-solid nav a {
    color: #1f2937;
}

.navbar-solid nav a:hover {
    color: #007bff;
}

.navbar-transparent nav a:hover {
    opacity: 0.7;
}

/***** ESTILOS PARA EL DASHBOARD (LISTADO DE HEROES) *****/
.add-hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px 0 25px;
}

.icon-left {
    width: 36px;
    height: 36px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-icon {
    width: 20px;
    height: 20px;
}


/***** ESTILOS PARA ACERCA DE *****/
.about-hero {
    text-align: center;
    margin-bottom: 40px;
}

.about-section {
    margin-bottom: 25px;
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.badge {
    background: #e0e7ff;
    color: #3730a3;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
}


/***** ESTILOS PARA CONTACTO *****/
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.contact-form textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.success {
    color: green;
    margin-bottom: 15px;
}

/**** ESTILOS DEL FOOTER *****/
.main-footer {
    background-color: #0f172a;
    color: #cbd5e1;
    padding: 20px 0;
    margin-top: 0;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-links a {
    color: #cbd5e1;
    margin-left: 20px;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-links a:hover {
    color: white;
}


/***** QUERY MEDIA PARA MOBILE *****/
/* MOBILE */
@media (max-width: 768px) {
    .hero-content {
        padding: 20px;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 1rem;
    }
    .btn-cta {
        display: inline-block;
        margin-top: 30px;
        padding: 18px 32px;
        font-size: 1.1rem;
        border-radius: 10px;
    }
}

/* ESTILOS MENU HAMBURGUESA */
.menu-icon {
    width: 32px;
    height: 32px;
}

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
}

/* Cuando está activo */
.menu-toggle.active .menu-icon {
    transform: none;
    opacity: 0.8;
}

/* MOBILE-FIRST NAVBAR */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    .navbar nav {
        position: absolute;
        top: 70px;
        right: 20px;

        background: rgba(0,0,0,0.95);
        backdrop-filter: blur(10px);

        border-radius: 12px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 15px;

        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;

        transition: all 0.3s ease;
    }

    .navbar nav a {
        color: white;
        font-size: 1rem;
    }
    .navbar nav.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .navbar-solid nav a,
    .navbar-transparent nav a {
        color: white !important;
    }
}


/***** MOBILE-FIRST FOOTER *****/
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    }
}